<% include header %>
    <div class="container">
      <div class="row">
        <div class="span6 offset3">
          <% include recaptchaOptions %>
          <form action="/users/create" method="post" class="form-horizontal">
            <legend>Create your personal account</legend>
            <div class="control-group">
              <input id="username" name="username" type="text" placeholder="Username" autofocus="autofocus" autocomplete="off" tabindex="1" value="<% if(values.username) { %> <%=values.username %> <% }%>">
              <span id="username-help" class="help-text help-error"><% if(errors) { %> <%=errors.username %> <% }%></span>
            </div>
            <div class="control-group">
              <input id="email" name="email" type="text" placeholder="Email" tabindex="2" value="<% if(values.email) { %> <%=values.email %> <% }%>">
              <span id="email-help" class="help-text help-error"><% if(errors) { %> <%=errors.email %> <% }%></span>
            </div>
            <div class="control-group">
              <input id="password" name="password" type="password" placeholder="Password" tabindex="3" value="<% if(values.password) { %> <%=values.password %> <% }%>">
              <span id="password-help" class="help-text help-error"><% if(errors) { %> <%=errors.password %> <% }%></span>
            </div>
            <% include recaptcha %>
            <button id="submit" type="submit" class="btn btn-primary disabled" disabled="disabled" tabindex="5">Create an account</button>
          </form>
        </div>
      </div>
    </div>
  <script type="text/javascript">

    var setUserNameStatus = function(text, type) {
      $('#username-help').attr('class', 'help-text help-' + type).html(text);
      setSubmitStatus();
    };

    var setSubmitStatus = function() {
      var newClass = 'btn btn-primary disabled';
      var disabled = 'disabled';

      if($('#username-help').hasClass('help-ok')) {
        $('#submit').attr('class', 'btn btn-primary').removeAttr('disabled');
      } else {
        $('#submit').attr('class', 'btn btn-primary disabled').attr('disabled', disabled);
      }
    };

    var checkUsername = function () {
      var username = $('#username')[0];
      if (username.value && username.value != username.lastValue) {
        setUserNameStatus('Checking...', 'warning');

        if (username.timer) clearTimeout(username.timer);
        username.timer = setTimeout(function () {
          $.ajax({
            url: '/users/validate?username=' + username.value,
            type: 'post',
            success: function (jqr) {
              setUserNameStatus(jqr, 'ok');
            },
            error: function(jqr) {
              setUserNameStatus(jqr.responseText, 'error');
            }
          });
        }, 200);

        username.lastValue = username.value;
      }
    };

    $(document).ready(function () {
      $('#username').keyup(checkUsername);
      checkUsername();
    });
  </script>
<% include footer %>